$primary-color:$baseColor !important;
@import 'loaders.css/src/animations/pacman.scss';

body.loading {
  footer.footer {
    opacity: 0 !important;
    height: 0 !important;
  }
}
.loader {
  width: 100px;
  margin: 0 auto;

}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
