$headerBgColor: #fff;
$headerSubBgColor: #f0f5f9;
$headerSubHoverBgColor: #c9d6de;
$headerLinkColor:#504b4d;
$baseColor:#4facfe;
$baseHoverColor: #4facfe;
$cdHoverColor: #E53A40;
$btnPriBgColor: #E53A40;
$baseHlColor: #E53A40;
$textColor: #333333;
$textHoverColor: #4facfe;
$tocBgColor: #8e8787;
/*夜晚默认*/
$nightTocBgColor: #fff;
$nightTagTxtColor: #fff;
$nightTagBgColor: #555;
$nightLinkCardBgColor: rgba(0, 0, 0, .4);
$nightBackground: #292a2d;
$nightTxtColor: #fff;
$nightCodeTxtColor: #c5c8c6;
$nightCodeColor: #969896;
$nightCodeBgColor: #2d2d2d;
$nightCodeHljsStringColor: #0857b3;
$nightPageAColor: #fffff;
$nightSummaryColor: #8195b2;
$monospace: "Lucida Console", Consolas, "Courier", monospace;
